{% extends 'base.html' %} {% block content %}
<div class="text-center py-2">
  <h3 class="mx-3">Estos son los Productos de la Base de datos:</h3>
</div>

<div class="row p-3">
  <div class="col-12 d-flex border-radius-3 rounded p-3">
    <div class="row border-radius-3 rounded shadow-lg fondoCard">
      {% for producto in object_list %}
      <div class="col-3">
        <div class="card m-3" style="width: 18rem">
          <div class="card-body shadow-lg">
            <h5 class="card-title"><b>{{ producto.nombre }}</b></h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>Modelo: </b> {{ producto.modelo }}</h6>
            <h6 class="card-subtitle mb-2 text-muted"><b>Marca: </b> {{ producto.marca }}</h6>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary mx-2">
                <a class="text-white" href="{% url 'detalles' pk=producto.pk %}" role="button">Ver detalles</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No hay productos registrados</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
