a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  background-image: url("./imagenes/fondoBody.png");
  background-size: cover;
}

.fondoCard {
  background-image: url("./imagenes/fondoCard.jpg");
  background-size: cover;
}
